:root {
        /* font-size */
        --fs-sm: 12px;
        --fs-base: 16px;
        --fs-md: 16px;
        --fs-3xl: 28px;
         --fs-2xl: 40px;
         --fs-4xl: 46px;
        /* color */
        --bg-blue: #1643C3;
        /* font-weight */
        --fw-800:800;
}

.color-blue {
        color: var(--bg-blue);
}

.text-4xl {
        font-size: var(--fs-4xl);
}
.text-2xl {
        font-size: var(--fs-2xl);
}
.text-sm {
        font-size: var(--fs-sm);
}
.text-3xl{
        font-size: var(--fs-3xl);
}

.text-base {
        font-size: var(--fs-base);
}
.text-md {
        font-size: var(--fs-md);
}
.fw-extrabold {
        font-weight: var(--fw-800) !important;
}
@media (min-width:991.9px) {

       :root {
        /* font-size */
        --fs-sm: 14px;
        --fs-base: 16px;
        --fs-md: 18px;
        --fs-3xl: 52px;
         --fs-2xl: 46px;
         --fs-4xl: 85px;       
} 
}
@media (min-width:767.9px) {

       :root {
        /* font-size */
        --fs-sm: 12px;
        --fs-base: 16px;
        --fs-md: 16px;
        --fs-3xl: 46px;
         --fs-2xl: 40px;
         --fs-4xl: 72px;      
} 
}